<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lessonsFromSamsung">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".theme27_2Dgraphics.ticTacToe.TicTacToe"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".theme27_2Dgraphics.GraphicsActivity" />
        <activity android:name=".theme26Fragment.ActivityWithFragments" />
        <activity android:name=".theme25Services.ServiceActivity" />
        <activity android:name=".theme24Threads.atm.CashMachine" />
        <activity android:name=".theme16TestingAndDebugging.color.MainChangeColorActivity" />
        <activity android:name=".theme16TestingAndDebugging.color.ChangeColorActivity" />
        <activity android:name=".theme14InterfaceOfAndroidAplication.gameInterface.Records" />
        <activity android:name=".theme14InterfaceOfAndroidAplication.gameInterface.Settings" />
        <activity android:name=".theme14InterfaceOfAndroidAplication.gameInterface.NewGame" />
        <activity android:name=".theme14InterfaceOfAndroidAplication.gameInterface.FirstPage" />
        <activity android:name=".theme14InterfaceOfAndroidAplication.ExercisesWithViews" />
        <activity android:name=".theme14InterfaceOfAndroidAplication.qize.QuizActivity" />
        <activity android:name=".theme16TestingAndDebugging.AutorizationAndChangingBackgroundColorsActivity" />

        <service
            android:name=".theme25Services.example.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".theme25Services.ToastService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".theme25Services.MusicService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>