<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lessonsFromSamsung">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText">
        <activity android:name=".theme29_TestSurfaceView.TestSurfaceViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            android:exported="true"
        </activity>

        <activity android:name=".theme28_SurfaceView.SurfaceViewActivity">

        </activity>
        <activity android:name=".theme27_2Dgraphics.PasswordStrength" />
        <activity
            android:name=".theme27_2Dgraphics.ticTacToe.TicTacToe"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".theme27_2Dgraphics.draw.GraphicsActivity" />
        <activity android:name=".theme26_Fragment.ActivityWithFragments" />
        <activity android:name=".theme25_Services.ServiceActivity" />
        <activity android:name=".theme24_Threads.atm.CashMachine" />
        <activity android:name=".theme16_TestingAndDebugging.color.MainChangeColorActivity" />
        <activity android:name=".theme16_TestingAndDebugging.color.ChangingColorActivity" />
        <activity android:name=".theme14_InterfaceOfAndroidAplication.gameInterface.Records" />
        <activity android:name=".theme14_InterfaceOfAndroidAplication.gameInterface.Settings" />
        <activity android:name=".theme14_InterfaceOfAndroidAplication.gameInterface.NewGame" />
        <activity android:name=".theme14_InterfaceOfAndroidAplication.gameInterface.FirstPage" />
        <activity android:name=".theme14_InterfaceOfAndroidAplication.ExercisesWithViews" />
        <activity android:name=".theme14_InterfaceOfAndroidAplication.qize.QuizActivity" />
        <activity android:name=".theme16_TestingAndDebugging.AutorizationAndChangingBackgroundColorsActivity" />

        <service
            android:name=".theme25_Services.example.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".theme25_Services.ToastService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".theme25_Services.MusicService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>